In [1]:
#

In [14]:
import numpy
import pandas

In [15]:
N = 10_000
data = pandas.DataFrame(data={'A': numpy.random.normal(size=(N,)), 
                              'B': numpy.array(numpy.arange(N)),
                              'C': numpy.array(numpy.random.choice([0, 1]), dtype=str)})
data

             A     B  C
0    -0.190277     0  1
1     0.673886     1  1
2     0.939245     2  1
3     0.371668     3  1
4     0.008699     4  1
...        ...   ... ..
9995 -0.064124  9995  1
9996  1.512830  9996  1
9997  0.741770  9997  1
9998  1.209702  9998  1
9999 -0.263015  9999  1

[10000 rows x 3 columns]

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       10000 non-null  float64
 1   B       10000 non-null  int32
 2   C       10000 non-null  object
dtypes: float64(1), int32(1), object(1)
memory usage: 195.4+ KB

In [17]:
data = data.values[:, :-1]

In [18]:
data

array([[-0.19027665743799954, 0],
       [0.6738861170421557, 1],
       [0.9392448747686765, 2],
       ...,
       [0.7417699187937771, 9997],
       [1.2097019859466507, 9998],
       [-0.2630148690383294, 9999]], dtype=object)

In [19]:
# Whitener

In [20]:
from m_utils.transformations import Whitener

In [21]:
trf_w = Whitener()
trf_w.fit(data)
data_ = trf_w.transform(data)
data__ = trf_w.inverse_transform(data_)

In [22]:
data

array([[-0.19027665743799954, 0],
       [0.6738861170421557, 1],
       [0.9392448747686765, 2],
       ...,
       [0.7417699187937771, 9997],
       [1.2097019859466507, 9998],
       [-0.2630148690383294, 9999]], dtype=object)

In [23]:
data__

array([[-1.90276657e-01,  0.00000000e+00],
       [ 6.73886117e-01,  1.00000000e+00],
       [ 9.39244875e-01,  2.00000000e+00],
       ...,
       [ 7.41769919e-01,  9.99700000e+03],
       [ 1.20970199e+00,  9.99800000e+03],
       [-2.63014869e-01,  9.99900000e+03]])

In [24]:
# HypeTan

In [25]:
from m_utils.transformations import HypeTan

In [26]:
trf_h = HypeTan()
trf_h.fit(data)
data_ = trf_h.transform(data)
data__ = trf_h.inverse_tranform(data_)

TypeError: loop of ufunc does not support argument 0 of type float which has no callable tanh method

In [ ]:
data

In [ ]:
data__

In [27]:
# LogPctTransformer

In [28]:
from m_utils.transformations import LogPctTransformer

In [29]:
trf_p = LogPctTransformer()
trf_p.fit(data)
data_ = trf_p.transform(data)
data__ = trf_p.inverse_tranform(data_)

TypeError: loop of ufunc does not support argument 0 of type int which has no callable log method

In [ ]:
data

In [ ]:
data__